<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>消息中心</string>
			<key>img</key>
			<string>msg_center_img.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我的订阅</string>
			<key>img</key>
			<string>ic_wd_rss.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>播放历史</string>
			<key>img</key>
			<string>play_record_img</string>
		</dict>
		<dict>
			<key>title</key>
			<string>赞过的</string>
			<key>img</key>
			<string>ic_wd_like.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的积分</string>
			<key>img</key>
			<string>my_points_img.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我的已购</string>
			<key>img</key>
			<string>ic_wd_buy.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的钱包</string>
			<key>img</key>
			<string>ic_wd_ximoney.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>喜马拉雅商城</string>
			<key>img</key>
			<string>ic_wd_mall.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的商城订单</string>
			<key>img</key>
			<string>ic_wd_order.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我的优惠券</string>
			<key>img</key>
			<string>ic_wd_coupon.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>游戏中心</string>
			<key>img</key>
			<string>me_game.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>车载模式</string>
			<key>img</key>
			<string>me_setting_carmode.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>智能硬件设备</string>
			<key>img</key>
			<string>ic_wd_robot.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>找听友</string>
			<key>img</key>
			<string>find_friend_img.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>意见反馈</string>
			<key>img</key>
			<string>ic_wd_feedback.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>设置</string>
			<key>img</key>
			<string>ic_wd_setting.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>分享喜马拉雅</string>
			<key>img</key>
			<string>ic_share_app.png</string>
		</dict>
	</array>
</array>
</plist>
